<!DOCTYPE html>
<html lang="en">
	<div th:fragment="banner" class="well">
		<p>
			Esse servidor faz parte do projeto integrado <b>SDC-X</b> (Screening for Diabetes Complications) do Instituto de Engenharia Biomédica <b>(IEB)</b> da Universidade Federal de Santa Catarina <b>(UFSC)</b>.
		</p>
		<p>
			This server is built
			from a number of modules of the
			<a href="https://github.com/jamesagnew/hapi-fhir/">HAPI FHIR</a>
			project, which is a 100% open-source (Apache 2.0 Licensed) Java based
			implementation of the FHIR specification.
		</p>
	</div>
</html>
